<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<center>
<form method='POST' action="emp">
  {% csrf_token %}
  <div>
    <br>
    <p>
      <h1>Enter Details</h1>
    </p>
    <div>
      Employee Id: <input type="text" name="id" required>
    </div><br>
     <div>
      Employee Name: <input type="text" name="name" required>
    </div><br>
     <div>
         Employee Email:<input type="email" name="email" required>
    </div><br>
     <div>
      Employee Contact:<input type="number" name="contact" required>
    </div><br>
     <div>
       <br>
       <button type="submit" >Submit</button>
    </div>
  </div>
</form>
    <h1>{{info}}</h1>
</center>
</body>
</html>