<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
</style>
</head>
<body>
<center>
<table>
    <th>
        <tr>
        <th>Employee Id |</th>
        <th>Employee Name |</th>
        <th>Employee Email |</th>
        <th>Employee Contact |</th>
        <th>Employee Action</th>
        </tr>
    </th>

    {% if employees %}

    {% for emp in employees %}
    <tr>
        <td>{{ emp.eid }}</td>
        <td>{{ emp.ename }}</td>
        <td>{{ emp.eemail }}</td>
        <td>{{ emp.econtact }}</td>
        <td> <a href="edit/{{ emp.id }}">Edit</a></td>
        <td> <a href="delete/{{ emp.id }}">Delete</a></td>

    </tr>
    {% endfor %}

    {% else %}
    {% endif %}

</table>
<br><br>
<button> <a href="emp">Add New Record</a></button>
</center>
</body>
</html>